*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
width:100%;
max-width:400px;
}

.form-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.form-box h2{
text-align:center;
margin-bottom:20px;
}

.input-group{
margin-bottom:15px;
}

.input-group label{
display:block;
margin-bottom:5px;
font-weight:bold;
}

.input-group input,
.input-group select{
width:100%;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
outline:none;
}

.input-group input:focus

button{
width:100%;
padding:10px;
border:none;
background:#4facfe;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
transition:0.3s;
}
